/*搬运狗www.zy40.cn*/
a {
	text-decoration: none!important
}

#globalAd {
	max-width: 400px;
	flex-basis: 100%;
	margin: 0 auto;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .3);
	overflow: hidden;
	position: fixed;
	display: none;
	margin: 0 auto;
	z-index: 10001
}

.layer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	filter: alpha(opacity=50);
	opacity: .5;
	background: #000;
	z-index: 1000;
	display: none
}

#globalAd #hero-img {
	width: 100%;
	height: 100px;
	background: #007bff
}

#globalAd #profile-img {
	width: 80px;
	height: 80px;
	margin: -80px auto 0;
	border: 6px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(90, 90, 90, .3)
}

#globalAd #profile-img img {
	width: 100%;
	background: #fff;
	border-radius: 50%
}

#globalAd #content {
	text-align: center;
	width: 320px;
	margin: 0 auto;
	padding: 0 0 50px
}

#container #content h1 {
	font-size: 29px;
	font-weight: 500;
	margin: 50px 0 0
}

#globalAd #content p {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	color: #666;
}

#globalAd #content a {
	color: #ccc;
	font-size: 14px;
	margin: 0 10px;
	transition: color .3s ease-in-out;
	-webkit-transition: color .3s ease-in-out
}

#globalAd #content a:hover {
	color: #007bff
}

#globalAd #content .btn {
	background: none repeat scroll 0 0 #1ba1e2;
	border: 0;
	border-radius: 2px;
	color: #fff!important;
	cursor: pointer;
	font-family: open sans, hiragino sans gb, microsoft yahei, wenquanyi micro hei, Arial, Verdana, Tahoma, sans-serif;
	font-size: 14px;
	padding: 6px 10%
}

#globalAd #content .btn:hover,
.yanshibtn:hover {
	background: none repeat scroll 0 0 #9b59b6;
	border: 0;
	border-radius: 2px;
	color: #fff!important;
	cursor: pointer;
	font-family: open sans, hiragino sans gb, microsoft yahei, wenquanyi micro hei, Arial, Verdana, Tahoma, sans-serif;
	font-size: 14px;
	padding: 8px 10%
}